<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace ac=Artif\ArtifCompanydatabase\ViewHelpers}
<div class="data">
    <fieldset>
        <h3>{f:translate(key: 'tx_artif_companydatabase_registration.company_details')}</h3>
        <f:render partial="Company/Registration/ContactDetails" arguments="{_all}"/>
    </fieldset>
    <fieldset>
        <h3>{f:translate(key: 'tx_artif_companydatabase_registration.company_contact_public')}</h3>
        <div class="info">{f:translate(key: 'tx_artif_companydatabase_registration.company_contact_public.info')}</div>
        <f:render partial="Company/Registration/CompanyContactPublic" arguments="{property:'companyContactPublic'}"/>
    </fieldset>
    <fieldset>
        <h3>{f:translate(key: 'tx_artif_companydatabase_registration.contact_details_private')}</h3>
        <div class="info">{f:translate(key: 'tx_artif_companydatabase_registration.contact_details_private.info')}</div>
        <f:render partial="Company/Registration/CompanyContactPrivate" arguments="{property:'contactDetailsPrivate'}"/>
    </fieldset>
    <fieldset>
        <h3>{f:translate(key: 'tx_artif_companydatabase_registration.expertise')}</h3>
        <f:render partial="Company/Registration/Expertise" arguments="{_all}"/>
    </fieldset>
    <fieldset>
        <f:if condition="{company}">
            <label for="companyDescription">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.company_description"/>
            </label>
            <f:form.textarea property="companyDescription" value={company.companyDescription} cols="40" rows="15"/>
        </f:if>
        <f:comment>
            <f:if condition="{company}">
                <div class="file-input">
                    <label for="photo">
                        <f:translate key="tx_artifcompanydatabase_domain_model_company.photo"/>
                    </label>
                    <ac:form.upload property="photo">
                        <f:if condition="{resource}">
                            <f:image image="{resource}" alt="" width="50"/>
                        </f:if>
                    </ac:form.upload>
                </div>
            </f:if>
        </f:comment>
         <f:if condition="{company}">
            <f:else>
                <div class="login">
                    <div class="form-group">
                        <label for="username">
                            <f:translate key="tx_artifcompanydatabase_domain_model_company.username"/>
                            <span class="required">*</span>
                            <small style="font-weight: normal"><f:translate key="tx_artifcompanydatabase_domain_model_company.username_as_email" /></small>
                        </label>
                        <f:form.textfield name="newCompany[user][username]" required="1" data="{rule-email: 1}" />
                    </div>
                    <div class="form-group">
                        <label for="password">
                            <f:translate key="tx_artifcompanydatabase_domain_model_company.password"/>
                            <span class="required">*</span>
                        </label>
                        <f:form.password name="newCompany[user][password]" additionalAttributes="{required:1}"/>
                    </div>
                    <div class="form-group">
                        <label for="password2">
                            <f:translate key="tx_artifcompanydatabase_domain_model_company.password2"/>
                            <span class="required">*</span>
                        </label>
                        <f:form.password name="password2" additionalAttributes="{required:1}"/>
                    </div>
                </div>
            </f:else>
        </f:if>
    </fieldset>
</div>
</html>