<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="c{company.uid}" class="white_content" style="{f:if(condition: show, else: 'display: none;')}">
	<div class="row">
		<div class="col-md-6 col-md-push-6 col-sm-12">
			<f:if condition="{company.logo}">
				<f:image image="{company.logo}" absolute="1" maxWidth="400" class="img-responsive" />
			</f:if>
			<f:if condition="{company.photo}">
				<f:image image="{company.photo}" absolute="1" maxWidth="400" class="img-responsive" />
			</f:if>
			<f:if condition="{company.homepage}">
				<f:link.typolink parameter="{company.homepage}">{company.homepage}</f:link.typolink>
			</f:if>
		</div>
		<div class="col-md-6 col-md-pull-6 col-sm-12">
			<h3>{company.companyName}</h3>
			<p>{company.profile}</p>
		</div>
	</div>

	<hr style="margin: 10px 0;">

	<f:render section="CompanyContact" arguments="{header: 'contact', company: company, contact: company.companyContactPublic}" />

	<f:if condition="{private}">
		<f:render partial="Company/Properties" section="CompanyContact" arguments="{header: 'tx_artif_companydatabase_registration.contact_details_private', contact: company.contactDetailsPrivate}" />

		<hr style="margin: 10px 0;">
	</f:if>

	<f:if condition="{show}">
		<f:else>
			<a style="position:absolute; top: 0; right: 5px; font-size: 25px;" class="close" title="Close" href="javascript:void(0)" onclick="document.getElementById('c{company.uid}').style.display='none';document.getElementById('fade').style.display='none'">
				<span aria-hidden="true">&times;</span>
			</a>
		</f:else>
	</f:if>
</div>

<f:section name="CompanyContact">
	<div class="row">
		<div class="col-xs-12">
			<h3><f:translate key="{header}">{header}</f:translate></h3>
		</div>
		<div class="col-md-6 col-sm-12">
			<f:if condition="{contact.gender -> v:or(alternative: contact.firstName) -> v:or(alternative: contact.name)}">
				<p>
					<f:translate key="contact_person" />:
					<br>
					<f:spaceless>
						{contact.gender}
						{contact.firstName}
						{contact.name}
					</f:spaceless>
				</p>
			</f:if>
			<p>
				<f:if condition="{contact.email}">
					<f:link.email email="{contact.email}" />
					<br>
				</f:if>
				<f:if condition="{contact.phone}">
					<f:translate key="tx_artifcompanydatabase_domain_model_company.phone" />:
					{contact.phone}
					<br>
				</f:if>
				<f:if condition="{contact.mobile}">
					<f:translate key="tx_artifcompanydatabase_domain_model_company.mobile" />:
					{contact.mobile}
				</f:if>
			</p>
			<p>
				<f:spaceless>
					{contact.street}{f:if(condition: '{contact.zip -> v:or(alternative: contact.city)}', then: ',')}
					{contact.zip}
					{contact.city}
				</f:spaceless>
			</p>
		</div>
		<f:if condition="{company.focuses -> v:or(alternative: company.sectors)}">
			<div class="col-md-6 col-sm-12">
				<f:if condition="{company.focuses}">
					<p>
						<f:translate key="tx_artifcompanydatabase_domain_model_focus" />:
						<f:for each="{company.focuses}" as="focus" iteration="i">
							{focus.title}{f:if(condition: i.isLast, else: ',')}
						</f:for>
					</p>
				</f:if>
				<f:if condition="{company.sectors}">
					<p>
						<f:translate key="tx_artifcompanydatabase_domain_model_sector" />:
						<f:for each="{company.sectors}" as="sector" iteration="i">
							{sector.title}{f:if(condition: i.isLast, else: ',')}
						</f:for>
						<v:condition.iterator.contains needle="{settings.other}" haystack="{v:iterator.extract(content: company.sectors, key: 'uid')}">
							<br>
							<f:comment><f:translate key="tx_artifcompanydatabase_domain_model_company.other"/>:</f:comment>
							{company.other}
						</v:condition.iterator.contains>
					</p>
				</f:if>
			</div>
		</f:if>
	</div>
</f:section>

<f:section name="Contact">
	<f:if condition="{contact.gender}">
		<tr>
			<td>
				<f:translate key="tx_artifcompanydatabase_domain_model_company.salutation" />
			</td>
			<td>
				{contact.gender}
			</td>
		</tr>
	</f:if>
	<f:if condition="{contact.street}">
		<tr>
			<td>
				<f:translate key="tx_artifcompanydatabase_domain_model_company.street" />
			</td>
			<td>
				{contact.street}
			</td>
		</tr>
	</f:if>
	<f:if condition="{contact.zip}">
		<tr>
			<td>
				<f:translate key="tx_artifcompanydatabase_domain_model_company.zip" />
			</td>
			<td>
				{contact.zip}
			</td>
		</tr>
	</f:if>
	<f:if condition="{contact.city}">
		<tr>
			<td>
				<f:translate key="tx_artifcompanydatabase_domain_model_company.city" />
			</td>
			<td>
				{contact.city}
			</td>
		</tr>
	</f:if>
	<f:if condition="{contact.firstName}">
		<tr>
			<td>
				<f:translate key="tx_artifcompanydatabase_domain_model_company.first_name" />
			</td>
			<td>
				{contact.firstName}
			</td>
		</tr>
	</f:if>
	<f:if condition="{contact.name}">
		<tr>
			<td>
				<f:translate key="tx_artifcompanydatabase_domain_model_company.name" />
			</td>
			<td>
				{contact.name}
			</td>
		</tr>
	</f:if>
	<f:if condition="{contact.phone}">
		<tr>
			<td>
				<f:translate key="tx_artifcompanydatabase_domain_model_company.phone" />
			</td>
			<td>
				{contact.phone}
			</td>
		</tr>
	</f:if>
	<f:if condition="{contact.mobile}">
		<tr>
			<td>
				<f:translate key="tx_artifcompanydatabase_domain_model_company.mobile" />
			</td>
			<td>
				{contact.mobile}
			</td>
		</tr>
	</f:if>
	<f:if condition="{contact.email}">
		<tr>
			<td>
				<f:translate key="tx_artifcompanydatabase_domain_model_company.email" />
			</td>
			<td>
				<f:link.email email="{contact.email}" />
			</td>
		</tr>
	</f:if>
</f:section>

</html>