
.info {
    background: rgba(197, 209, 106, 0.27);
    padding: 10px;
}

input[type=email],
input[type=file],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
select {
    padding: 1.1rem 0;
}

textarea, textarea[type=text] {
    padding: 14px 0;
}