input,
textarea {
	border-radius: 3px;
	width: 60%;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: transparent;
	padding: 8px 20px;
	border: 2px solid #ccc;
}

input[type=checkbox] {
	
	width: 10%;
	
}

label {
	padding-top: 0;
	margin-bottom: 0;
}

input[name="tx_artifcompanydatabase_registration[login]"] {
	
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #0e4f8b;
	color: #fff;
	text-align: center;
	font-size: 18px;
	
	width: 20%;
	border: none;
	transition: all .5s ease-out;
	
}

input[name="tx_artifcompanydatabase_registration[new]"] {
	
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #0e4f8b;
	color: #fff;
	text-align: center;
	font-size: 18px;
	
	width: 20%;
	border: none;
	transition: all .5s ease-out;
	
}

input[name="tx_artifcompanydatabase_registration[search]"] {
	
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #0e4f8b;
	color: #fff;
	text-align: center;
	font-size: 18px;
	
	width: 20%;
	border: none;
	transition: all .5s ease-out;
	
}

select[name="tx_artifcompanydatabase_registration[focuses]"] {
	border-radius: 3px;
	width: 25%;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: transparent;
	padding: 8px;
	border: 1px solid #ccc;
}

select[name="tx_artifcompanydatabase_registration[sectors]"] {
	border-radius: 3px;
	width: 25%;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: transparent;
	padding: 8px;
	border: 1px solid #ccc;
}

input[type="submit"] {
	
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #0e4f8b;
	color: #fff;
	text-align: center;
	font-size: 18px;
	
	width: 20%;
	border: none;
	transition: all .5s ease-out;
	
}

input[type="file"] {
	
	width: 20%;
	border: none;
	transition: all .5s ease-out;
	
}

table.tx_artifcompanydatabase {
	width: 100%;
	
}
input[type="submit"].submit-button {
	width: auto;
}

.tx-artif-companydatabase {
	margin-right: 30px;
	margin-top: 12px;
	th {
		padding: 8px;
	}
	td {
		padding: 8px;
	}
	input {
		width: 100%;
	}
	input[type=checkbox],
	input[type=radio],
	input[type=submit] {
		width: auto;
		margin-right: 10px;
	}
	textarea {
		width: 100%;
		padding: 20px;
	}
	
	.jcf-focus, .jcf-focus *,
	.jcf-range.jcf-focus .jcf-active-handle,
	.jcf-select-drop {
		.jcf-select-drop-content {
			border-color: #ccc !important;
		}
	}
	.jcf-select,
	.ms-choice {
		border-radius: 3px;
		margin-top: 5px;
		margin-bottom: 10px;
		background-color: transparent;
		border: 2px solid #ccc;
		width: 100%;
		height: 46px;
		font-size: 16px;
		
		position: relative;
		top: 1px;
		display: inline-block;

		-webkit-font-smoothing: antialiased;
		
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: none;
		cursor: pointer;
		&:before,
		> div{
			font-style: normal;
			font-weight: 400;
			line-height: 1;
			font-family: 'Glyphicons Halflings';
			content:"\e259";
			position: absolute;
			font-size: 1em;
			color: #8CAAC4;
			right: 18px;
			top: 14px;
			background: none !important;
			&.open{
				background:none !important;
			}
		}
		> span {
			top: 7px;
		}
		.jcf-select-text {
			font-size: 16px;
			line-height: 38px;
		}
		.jcf-select-opener {
			background: none;
		}
		&.jcf-compact-multiple {
			.jcf-select-opener:before {
				display: none;
				padding-top: 0;
				content: '';
				
			}
		}
		&.jcf-compact-multiple {
			max-width: 100%;
		}
	}
	.jcf-file {
		display: inline-block;
		vertical-align: top;
		white-space: nowrap;
		position: relative;
		overflow: hidden;
		background: none;
		border-radius: 3px;
		margin-top: 5px;
		margin-bottom: 10px;
		background-color: transparent;
		border: 2px solid #ccc;
		height: 46px;
		width: 100%;
		.jcf-upload-button {
			display: table;
			position: absolute;
			top: 10px;
			left: 15px;
			vertical-align: top;
			white-space: nowrap;
			overflow: hidden;
			border-radius: 4px;
			padding: 0 20px;
			line-height: 15px;
			color: #000000;
			height: 20px;
			background: rgba(255, 255, 255, 0.9);
			border-width: 1px;
			-webkit-transition: all .2s linear;
			transition: all .2s linear;
		}
		.jcf-fake-input {
			display: inline-block;
			position: absolute;
			width: 50%;
			right: 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			vertical-align: top;
			overflow: hidden;
			border: 1px solid #fff;
			border-radius: 4px 0 0 4px;
			padding: 5px 0;
			line-height: 30px;
			background: rgba(255, 255, 255, .05);
			height: 43px;
			z-index: 9999;
			-webkit-transition: all .2s linear;
			transition: all .2s linear;
		}
	}
	.jcf-select select {
	
	}
	.multiple {
		width: 100% !important;
	}
	.form-group {
		label {
			width: 100%;
			margin-bottom: 0;
		}
		margin-bottom: 0;
	}
	.salutation {
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.info {
		margin-bottom: 30px;
	}
	.submit-button {
		margin-top: 35px;
	}
	.company-list {
		.row {
			min-height: 110px;
		}
	}
}
a.default-link {
	padding: 8px 20px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #0e4f8b;
	color: #fff;
	text-align: center;
	font-size: 18px;
	width: auto;
	margin-right: 10px;
	border: none;
	transition: all .5s ease-out;
	display: inline-block;
	&:hover{
		text-decoration: none;
	}
}
.jcf-focus, .jcf-focus * {
	border-color: #ccc;
}