input,
textarea {
  border-radius: 3px;
  width: 60%;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  padding: 8px 20px;
  border: 2px solid #ccc; }

input[type=checkbox] {
  width: 10%; }

label {
  padding-top: 0;
  margin-bottom: 0; }

input[name="tx_artifcompanydatabase_registration[login]"] {
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #0e4f8b;
  color: #fff;
  text-align: center;
  font-size: 18px;
  width: 20%;
  border: none;
  transition: all .5s ease-out; }

input[name="tx_artifcompanydatabase_registration[new]"] {
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #0e4f8b;
  color: #fff;
  text-align: center;
  font-size: 18px;
  width: 20%;
  border: none;
  transition: all .5s ease-out; }

input[name="tx_artifcompanydatabase_registration[search]"] {
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #0e4f8b;
  color: #fff;
  text-align: center;
  font-size: 18px;
  width: 20%;
  border: none;
  transition: all .5s ease-out; }

select[name="tx_artifcompanydatabase_registration[focuses]"] {
  border-radius: 3px;
  width: 25%;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  padding: 8px;
  border: 1px solid #ccc; }

select[name="tx_artifcompanydatabase_registration[sectors]"] {
  border-radius: 3px;
  width: 25%;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  padding: 8px;
  border: 1px solid #ccc; }

input[type="submit"] {
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #0e4f8b;
  color: #fff;
  text-align: center;
  font-size: 18px;
  width: 20%;
  border: none;
  transition: all .5s ease-out; }

input[type="file"] {
  width: 20%;
  border: none;
  transition: all .5s ease-out; }

table.tx_artifcompanydatabase {
  width: 100%; }

input[type="submit"].submit-button {
  width: auto; }

.tx-artif-companydatabase {
  margin-right: 30px;
  margin-top: 12px; }
  .tx-artif-companydatabase th {
    padding: 8px; }
  .tx-artif-companydatabase td {
    padding: 8px; }
  .tx-artif-companydatabase input {
    width: 100%; }
  .tx-artif-companydatabase input[type=checkbox],
  .tx-artif-companydatabase input[type=radio],
  .tx-artif-companydatabase input[type=submit] {
    width: auto;
    margin-right: 10px; }
  .tx-artif-companydatabase textarea {
    width: 100%;
    padding: 20px; }
  .tx-artif-companydatabase .jcf-focus .jcf-select-drop-content, .tx-artif-companydatabase .jcf-focus * .jcf-select-drop-content,
  .tx-artif-companydatabase .jcf-range.jcf-focus .jcf-active-handle .jcf-select-drop-content,
  .tx-artif-companydatabase .jcf-select-drop .jcf-select-drop-content {
    border-color: #ccc !important; }
  .tx-artif-companydatabase .jcf-select,
  .tx-artif-companydatabase .ms-choice {
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid #ccc;
    width: 100%;
    height: 46px;
    font-size: 16px;
    position: relative;
    top: 1px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer; }
    .tx-artif-companydatabase .jcf-select:before,
    .tx-artif-companydatabase .jcf-select > div,
    .tx-artif-companydatabase .ms-choice:before,
    .tx-artif-companydatabase .ms-choice > div {
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      font-family: 'Glyphicons Halflings';
      content: "\e259";
      position: absolute;
      font-size: 1em;
      color: #8CAAC4;
      right: 18px;
      top: 14px;
      background: none !important; }
      .tx-artif-companydatabase .jcf-select:before.open,
      .tx-artif-companydatabase .jcf-select > div.open,
      .tx-artif-companydatabase .ms-choice:before.open,
      .tx-artif-companydatabase .ms-choice > div.open {
        background: none !important; }
    .tx-artif-companydatabase .jcf-select > span,
    .tx-artif-companydatabase .ms-choice > span {
      top: 7px; }
    .tx-artif-companydatabase .jcf-select .jcf-select-text,
    .tx-artif-companydatabase .ms-choice .jcf-select-text {
      font-size: 16px;
      line-height: 38px; }
    .tx-artif-companydatabase .jcf-select .jcf-select-opener,
    .tx-artif-companydatabase .ms-choice .jcf-select-opener {
      background: none; }
    .tx-artif-companydatabase .jcf-select.jcf-compact-multiple .jcf-select-opener:before,
    .tx-artif-companydatabase .ms-choice.jcf-compact-multiple .jcf-select-opener:before {
      display: none;
      padding-top: 0;
      content: ''; }
    .tx-artif-companydatabase .jcf-select.jcf-compact-multiple,
    .tx-artif-companydatabase .ms-choice.jcf-compact-multiple {
      max-width: 100%; }
  .tx-artif-companydatabase .jcf-file {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    background: none;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid #ccc;
    height: 46px;
    width: 100%; }
    .tx-artif-companydatabase .jcf-file .jcf-upload-button {
      display: table;
      position: absolute;
      top: 10px;
      left: 15px;
      vertical-align: top;
      white-space: nowrap;
      overflow: hidden;
      border-radius: 4px;
      padding: 0 20px;
      line-height: 15px;
      color: #000000;
      height: 20px;
      background: rgba(255, 255, 255, 0.9);
      border-width: 1px;
      -webkit-transition: all .2s linear;
      transition: all .2s linear; }
    .tx-artif-companydatabase .jcf-file .jcf-fake-input {
      display: inline-block;
      position: absolute;
      width: 50%;
      right: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top;
      overflow: hidden;
      border: 1px solid #fff;
      border-radius: 4px 0 0 4px;
      padding: 5px 0;
      line-height: 30px;
      background: rgba(255, 255, 255, 0.05);
      height: 43px;
      z-index: 9999;
      -webkit-transition: all .2s linear;
      transition: all .2s linear; }
  .tx-artif-companydatabase .multiple {
    width: 100% !important; }
  .tx-artif-companydatabase .form-group {
    margin-bottom: 0; }
    .tx-artif-companydatabase .form-group label {
      width: 100%;
      margin-bottom: 0; }
  .tx-artif-companydatabase .salutation {
    margin-top: 5px;
    margin-bottom: 10px; }
  .tx-artif-companydatabase .info {
    margin-bottom: 30px; }
  .tx-artif-companydatabase .submit-button {
    margin-top: 35px; }
  .tx-artif-companydatabase .company-list .row {
    min-height: 110px; }

a.default-link {
  padding: 8px 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #0e4f8b;
  color: #fff;
  text-align: center;
  font-size: 18px;
  width: auto;
  margin-right: 10px;
  border: none;
  transition: all .5s ease-out;
  display: inline-block; }
  a.default-link:hover {
    text-decoration: none; }

.jcf-focus, .jcf-focus * {
  border-color: #ccc; }

/*# sourceMappingURL=artif_udb.css.map */
