<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:comment>
        <h1>{f:translate(key: 'tx_artif_companydatabase_registration.thank_you.title')}</h1>
    </f:comment>
    <f:format.html>{settings.registrationPage.content}</f:format.html>
</f:section>
</html>