<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<div class="row">
  <div class="col-xs-6">
    <h4>{f:translate(key: 'edit_title')}</h4>
  </div>
  <div class="col-xs-6 text-right">
    <a href="javascript:void(0)" onclick="document.getElementById('c{company.uid}').style.display='block';document.getElementById('fade').style.display='block'" class="btn btn-danger">
      {f:translate(key: 'delete')}
    </a>
    <div id="c{company.uid}" class="white_content" style="display: none; padding: 3%;">
      <div class="row" style="padding: 10%;">
        <div class="col-xs-12 text-center">
          <h4>{f:translate(key: 'confirm_delete')}</h4>

          <f:link.action class="btn btn-danger" action="delete" arguments="{company: company, confirm: 1}">
            {f:translate(key: 'yes')}
          </f:link.action>
          <a href="javascript:void(0)" onclick="document.getElementById('c{company.uid}').style.display='none';document.getElementById('fade').style.display='none'" class="btn btn-default">
            {f:translate(key: 'no')}
          </a>
        </div>
      </div>
      <a style="position:absolute; top: 0; right: 5px; font-size: 25px;" class="close" title="Close" href="javascript:void(0)" onclick="document.getElementById('c{company.uid}').style.display='none';document.getElementById('fade').style.display='none'">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div id="fade" class="black_overlay" style="display: none;"></div>
    <style>
      .black_overlay {
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .80;
        filter: alpha(opacity=80);
      }
      .white_content {
        display: none;
        position: fixed;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 35%;
        padding: 16px;
        background-color: white;
        z-index: 1002;
        overflow: auto;
      }
    </style>
  </div>
</div>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Company}" />

<f:form action="update" name="company" object="{company}" enctype="multipart/form-data" class="validate">
  <f:form.hidden name="edit" value="edit"/>
  <f:render partial="Company/FormFields" arguments="{company:company,focuses:focuses,sectors:sectors,action:'edit'}" />
  <f:form.submit value="{f:translate(key: 'save')}" />
</f:form>
  <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">\x3C/script>')</script>
  <script src="typo3conf/ext/artif_companydatabase/Resources/Public/multiselect/multiple-select.js"></script>
  <script>
	  $(document).ready(function () {
		  $('.data .multiple').multipleSelect({
			  selectAll: false,
              countSelected: '# von % ausgewählt'
		  });
          $('select.multiple').css('display', 'block').css('position', 'absolute').css('visibility', 'hidden');
	  });
  </script>
</f:section>
</html>