<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <h4>{f:translate(key: 'login')}</h4>

    <f:render partial="FormErrors" arguments="{object:Company}"/>
    <f:form action="login" enctype="multipart/form-data" name="login" >
        <label for="username">
            <f:translate key="tx_artifcompanydatabase_domain_model_company.username"/>
            <span class="required">*</span>
        </label><br/>
        <f:form.textfield name="username"/><br/>
        <label for="password">
            <f:translate key="tx_artifcompanydatabase_domain_model_company.password"/>
            <span class="required">*</span>
        </label><br/>
        <f:form.password name="password" /><br/>
        <f:form.submit value="{f:translate(key: 'login')}" name="login"/>
        <f:form.submit value="{f:translate(key: 'create_new')}" name="new"/>
    </f:form>
    <f:security.ifAuthenticated>
        <f:link.action action="logout">{f:translate(key: 'login')}</f:link.action>
    </f:security.ifAuthenticated>
</f:section>
</html>