<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <h4>{f:translate(key: 'search_for_company.title')}</h4>
    <f:flashMessages/>
    <style>
        .black_overlay {
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80);
        }

        .white_content {
            display: none;
            position: fixed;
            top: 25%;
            left: 25%;
            width: 50%;
            height: 50%;
            padding: 16px;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }
    </style>

    <f:form action="list" enctype="multipart/form-data" name="search" class="search">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <label for="searchterm">
                    <f:translate key="tx_artif_companydatabase_search.name"/>
                </label>
                <f:form.textfield name="searchterm" value="{searchterm}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <label for="searchterm">
                    <f:translate key="tx_artif_companydatabase_search.sector"/>
                </label>
                <f:form.select class="multiple" name="sectors" options="{sectors}" optionLabelField="title"
                               optionValueField="uid"
                               value="{selectedSector}" multiple="1" data='{jcf: \' {
                "wrapNative": false, "wrapNativeOnMobile": false, "useCustomScroll": false, "multipleCompactStyle":
                true}\'}'/>
            </div>
            <div class="col-md-6 col-sm-12">
                <label for="searchterm">
                    <f:translate key="tx_artif_companydatabase_search.focus"/>
                </label>
                <f:form.select class="multiple" name="focuses" options="{focuses}" optionLabelField="title"
                               optionValueField="uid"
                               value="{selectedFocus}" multiple="1" data='{jcf: \' {
                "wrapNative": false, "wrapNativeOnMobile": false, "useCustomScroll": false, "multipleCompactStyle":
                true}\'}'/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <f:form.submit value="{f:translate(key: 'search')}" name="search"/>
            </div>
        </div>
    </f:form>
    <br><br>
    <f:if condition="{companies}">
        <f:then>
            <div class="company-list">
                <f:for each="{companies}" as="company">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>
                                <a href="javascript:void(0)" onclick="document.getElementById('c{company.uid}').style.display='block';document.getElementById('fade').style.display='block'">
                                    {company.companyName}
                                </a>
                            </h4>
                        </div>
                        <div class="col-xs-6">
                            <f:spaceless>
                                {company.companyContactPublic.street}{f:if(condition: '{company.companyContactPublic.zip -> v:or(alternative: company.companyContactPublic.city)}', then: ',')}
                                {company.companyContactPublic.zip}
                                {company.companyContactPublic.city}
                            </f:spaceless>
                            <br>
                            <f:link.email email="{company.companyContactPublic.email}" />{f:if(condition: company.homepage, then: ',')}
                            <f:link.typolink parameter="{company.homepage}">{company.homepage}</f:link.typolink>
                        </div>
                        <div class="col-xs-6">
                            <f:if condition="{company.focuses}">
                                <f:translate key="tx_artifcompanydatabase_domain_model_focus" />:
                                <f:for each="{company.focuses}" as="focus" iteration="i">
                                    {focus.title}{f:if(condition: i.isLast, else: ',')}
                                </f:for>
                            </f:if>
                            <f:if condition="{company.focuses -> v:or(alternative: company.sectors)}">
                                <br>
                            </f:if>
                            <f:if condition="{company.sectors}">
                                <f:translate key="tx_artifcompanydatabase_domain_model_sector" />:
                                <f:for each="{company.sectors}" as="sector" iteration="i">
                                    {sector.title}{f:if(condition: i.isLast, else: ',')}
                                </f:for>
                                <v:condition.iterator.contains needle="{settings.other}" haystack="{v:iterator.extract(content: company.sectors, key: 'uid')}">
                                    <br>
                                    <f:comment><f:translate key="tx_artifcompanydatabase_domain_model_company.other"/>:</f:comment>
                                    {company.other}
                                </v:condition.iterator.contains>
                            </f:if>
                        </div>
                    </div>
                </f:for>
            </div>

            <hr>

            <div class="row">
                <div class="col-xs-12">
                    <p><f:translate key="tx_artif_companydatabase_search.questions_feedback" /></p>
                </div>
            </div>

            <f:for each="{companies}" as="company">
                <f:render partial="Company/Properties" arguments="{company:company}"/>
            </f:for>
            <div id="fade" class="black_overlay" style="display: none;"></div>
        </f:then>
        <f:else>
            <f:translate key="noResults"/>
        </f:else>
    </f:if>
    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">\x3C/script>')</script>
    <script src="typo3conf/ext/artif_companydatabase/Resources/Public/multiselect/multiple-select.js"></script>
    <script>
		$(document).ready(function () {
			var selectAllText = "{f:translate(key: 'select_all')}";
			$('.search .multiple').multipleSelect({
				selectAllText: selectAllText,
				allSelected: selectAllText
			});
		});
    </script>
</f:section>
</html>