<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <h4>{f:translate(key: 'manage_company')}</h4>

    <f:render partial="Company/Properties" arguments="{company:company,show:1,private:1}"/>

    <f:link.action class="btn btn-primary" action="switcher" arguments="{company : company, active: 1}">{f:translate(key: 'unlock')}</f:link.action>
    <f:link.action class="btn btn-primary" action="switcher" arguments="{company : company, active: 0}">{f:translate(key: 'reject')}</f:link.action>
</f:section>
</html>