<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <h4>{f:translate(key: 'new_company')}</h4>
    <f:render partial="FormErrors" arguments="{object:Company}"/>
    <f:form action="create" enctype="multipart/form-data" name="newCompany" object="{newCompany}" class="validate">
        <f:render partial="Company/FormFields" arguments="{object:Company,company:company,focuses:focuses,sectors:sectors}"/>

        <div class="row">
            <div class="col-md-12">
                <div class="form-check">
                    <label class="form-check-label">
                        <f:form.checkbox property="terms" value="1" class="form-check-input" additionalAttributes="{required: 'required'}" />
                        <v:variable.set name="termsLink">
                            <f:link.typolink parameter="{settings.registrationPage.terms}">{f:translate(key: "tx_artifcompanydatabase_domain_model_company.term")}</f:link.typolink>
                        </v:variable.set>
                        <f:translate key="tx_artifcompanydatabase_domain_model_company.terms" arguments="{0: termsLink}"/>
                        <span class="required">*</span>
                    </label>
                </div>
            </div>
        </div>

        <f:form.submit class="submit-button" value="{f:translate(key: 'create_new')}"/>
    </f:form>
    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">\x3C/script>')</script>
    <script src="typo3conf/ext/artif_companydatabase/Resources/Public/multiselect/multiple-select.js"></script>
    <script>
	    $(document).ready(function () {
		    $('.data .multiple').multipleSelect({
                selectAll: false,
                countSelected: '# von % ausgewählt'
            });
            $('select.multiple').css('display', 'block').css('position', 'absolute').css('visibility', 'hidden');
	    });
    </script>

</f:section>
</html>