<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <h4>{f:translate(key: 'single_view_company')}</h4>

    <f:render partial="Company/Properties" arguments="{company:company,show:1}"/>
    <f:comment>
        <f:link.action action="list"
                       arguments="{searchterm:searchterm,focuses:selectedFocus,sectors:selectedSector,search:'search'}">
            {f:translate(key: 'back_to_search')}
        </f:link.action>
    </f:comment>
    <br/>
    <f:if condition="{edit}">
        <f:link.action action="edit" arguments="{company:company}" class="default-link">{f:translate(key: 'edit')}</f:link.action>
        <f:link.action action="logout" class="default-link">{f:translate(key: 'logout')}</f:link.action>
    </f:if>
</f:section>
</html>
