<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <h4>{f:translate(key: 'switcher_title')}</h4>
    <f:if condition="{company.hidden]">
        <f:then>
            {f:translate(key: 'switcher_active')}
        </f:then>
        <f:else>
            {f:translate(key: 'switcher_removed')}
        </f:else>
    </f:if>
</f:section>
</html>