<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="salutation">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.salutation"/>
            </label>
            <f:form.select property="{property}.salutation"
                           class="salutation"
                           prependOptionLabel="{f:translate(key: 'please_select')}"
                           options="{1: '{f:translate(key: \'salutation.1\')}', 2: '{f:translate(key: \'salutation.2\')}'}"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="firstName">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.first_name"/>
            </label>
            <f:form.textfield property="{property}.firstName" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="name">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.name"/>
            </label>
            <f:form.textfield property="{property}.name" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="email">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.email"/>
                <span class="required">*</span>
            </label>
            <f:form.textfield property="{property}.email" required="1"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="phone">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.phone"/>
                <span class="required">*</span>
            </label>
            <f:form.textfield property="{property}.phone" required="1"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="mobile">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.mobile"/>
            </label>
            <f:form.textfield property="{property}.mobile"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="street">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.street"/>
                <span class="required">*</span>
            </label>
            <f:form.textfield property="{property}.street" required="1"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="zip">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.zip"/>
                <span class="required">*</span>
            </label>
            <f:form.textfield property="{property}.zip" required="1"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="city">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.city"/>
                <span class="required">*</span>
            </label>
            <f:form.textfield property="{property}.city" required="1"/>
        </div>
    </div>
</div>