{namespace ac=Artif\ArtifCompanydatabase\ViewHelpers}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="name">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.name"/>
                <span class="required">*</span>
            </label>
            <f:form.textfield property="companyName" required="1"/>
        </div>
    </div>
    <!-- Text input-->
    <div class="col-md-6">
        <div class="form-group">
            <label for="homepage">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.homepage"/>
            </label>
            <f:form.textfield property="homepage" />
        </div>
    </div>
</div>
<div class="row">
    <!-- Text input-->
    <div class="col-md-12">
        <div class="form-group">
            <label for="profile">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.profile"/>
                <span class="required">*</span>
            </label>
            <f:form.textarea rows="5" property="profile" additionalAttributes="{required:required}" data="{rule-maxlength: 600}"/>
            <p><f:translate key="tx_artifcompanydatabase_domain_model_company.profile_description"/></p>
        </div>
    </div>
</div>
<div class="row">
    <!-- Text input-->
    <div class="col-md-6">
        <div class="form-group file-input">
            <label for="logo">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.logo"/>
            </label>
            <ac:form.upload property="logo" id="logo" data="{rule-filesize: 500000, rule-dimensions: 600, rule-extension: 'JPG|GIF|PNG'}">
                <f:if condition="{resource}">
                    <f:image image="{resource}" alt="" width="50"/>
                </f:if>
            </ac:form.upload>
            <p><f:translate key="tx_artifcompanydatabase_domain_model_company.logo_description"/></p>
        </div>
    </div>
</div>
    <!-- Select Basic -->
    <!--<div class="col-md-6">-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="time">Preferred Time</label>-->
            <!--<select id="time" name="time" class="form-control">-->
                <!--<option value="8:00 to 9:00">8:00 to 9:00</option>-->
                <!--<option value="9:00 to 10:00">9:00 to 10:00</option>-->
                <!--<option value="10:00 to 1:00">10:00 to 1:00</option>-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->