{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="sectors">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.sectors"/>
                <span class="required">*</span>
            </label>
            <f:form.select class="expertise" id="sectors"
                           property="sectors.0"
                           options="{sectors}"
                           prependOptionLabel="{f:translate(key: 'please_select')}"
                           optionLabelField="title"
                           optionValueField="uid"
                           data="{rule-minselected: 1, other: settings.other}"
            />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="focuses">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.focuses"/>
                <span class="required">*</span>
            </label>
            <f:form.select class="multiple"
                           property="focuses"
                           options="{focuses}"
                           optionLabelField="title"
                           optionValueField="uid"
                           additionalAttributes="{required:'required'}"
                           multiple="1"
                           data="{rule-maxselected: 3}"
            />
        </div>
    </div>
</div>
<div id="other-field" class="row {v:condition.iterator.contains(else: 'hidden', needle: settings.other, haystack: '{v:iterator.extract(content: company.sectors, key: \'uid\') -> v:or(alternative: company.sectors)}')}">
    <div class="col-md-12">
        <div class="form-group">
            <label for="other">
                <f:translate key="tx_artifcompanydatabase_domain_model_company.other"/>
                <small style="font-weight: normal">
                    <f:translate key="tx_artifcompanydatabase_domain_model_company.other.description"/>
                </small>
            </label>
            <f:form.textfield property="other" id="other" />
        </div>
    </div>
</div>